FLASK_RUN_PORT=5000
ENV=dev
SECRET_KEY=
DOCUMENTS_UPLOAD_FOLDER='app/documents'
SERVICE_URL=http://127.0.0.1:5000/tester
RP_URL=
AS_URL=
RS_URL=
SCA_URL=

OAUTH_CODE_CHALLENGE_METHOD=S256
OAUTH_ADDITIONAL_SUPPORTED_OID4VP_FLOWS='[test-form, cross-device]'

# Required: OID4VP Same Device (Default) Flow
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URL=http://127.0.0.1:5000/tester/oauth/login/code

# OID4VP Cross Device Flow
OAUTH_CROSS_DEVICE_FLOW_CLIENT_ID=
OAUTH_CROSS_DEVICE_FLOW_CLIENT_SECRET=
OAUTH_CROSS_DEVICE_FLOW_REDIRECT_URL=http://127.0.0.1:5000/tester/oauth2/callback

# Login Form Authentication
OAUTH_TEST_FORM_CLIENT_ID=
OAUTH_TEST_FORM_CLIENT_SECRET=
OAUTH_TEST_FORM_REDIRECT_URL=http://127.0.0.1:5000/tester/oauth/login/code
OAUTH_USERNAME=
OAUTH_PASSWORD=
