/*Header CSS*/
.navbar-nav {
  list-style-type: none;
  padding-left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 0px;
}

.navbar-logo {
  margin-right: 20px; /* Optional: Add some space between logo and menu */
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-nav .nav-link {
  border-radius: 5px;
  margin: 0px;

  align-items: center;
  color: #0048d2;
  border: 1px solid #0048d2;
  border-radius: 8px;
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Gill Sans", serif;
  font-size: 15px;
  font-weight: normal;
  justify-content: center;
  line-height: 18px;
  min-width: 100px !important;
  padding: 10px;
  text-align: left;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  opacity: 0.8;
}

/*Footer CSS*/
footer {
  background-color: rgba(254, 253, 245, 0);
  color: rgb(78, 81, 105);
  padding: 20px;
  margin-top: 2em;
  border-top: 1px solid #b3b3b3;
}

.footer-row {
  border-top-color: rgb(78, 81, 105);
  box-sizing: border-box;
}

.footer-column-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-column {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-column a {
  text-decoration: none;
  color: rgb(78, 81, 105);
  margin: 5px;
}

.footer-column a:hover {
  text-decoration: underline;
  color: rgb(78, 81, 105);
}

.footer-column img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}

.footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Content Box*/
.main {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Gill Sans", serif;
  font-size: 44px;
}

h3 {
  font-family: "Gill Sans", serif;
}

.container {
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  max-width: calc(100% - 80px);
}

.height-div-parent {
  height: 100%;
}

.content-box {
  background: #dce5f2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  float: none;
  min-height: calc(100% - 40px);
  min-width: 310px;
  margin: 20px auto;
  padding: 40px;
  display: flex; /* Add Flexbox here */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}

.main-page-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.main-page-box h3 {
  font-family: "Gill Sans", serif;
}

.account-form {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-btn {
  align-items: center;
  background: #0048d2;
  border: 2px solid #0048d2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: "Gill Sans", serif;
  font-size: 20px;
  font-weight: normal;
  justify-content: center;
  line-height: 18px;
  min-width: 100px !important;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

custom-btn:hover {
  background-color: #0056b3;
}

/*Login Page*/
.error-message {
  color: red;
  margin-bottom: 15px;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  text-align: center;
  width: 60%;
}

.login-box label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-family: "Gill Sans", serif;
  font-size: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Gill Sans", serif;
  font-size: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Space out the buttons */
  align-items: center;
  margin-top: 5px;
}

.login-custom-btn {
  background: #0048d2;
  border: 2px solid #0048d2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: "Gill Sans", serif;
  font-size: 14px;
  justify-content: center;
  line-height: 18px;
  min-width: 100px !important;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.login-custom-btn:hover {
  background-color: #fff;
  border: 2px solid #0048d2;
  border-radius: 8px;
  color: #0048d2;
  text-decoration: underline;
}

/* Styling for the pop-up */
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  width: 300px;
}

.popup table {
  width: 100%;
  border-collapse: collapse;
}

.popup table th,
.popup table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.popup table th {
  background-color: #f4f4f4;
}

/* Popup close button */
.popup-close {
  text-align: right;
}

.popup-close button {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-close button:hover {
  background-color: #ff0000;
}

/*Sign Document Buttons*/
.sign-custom-btn {
  background: #fff;
  border: 1px solid #0048d2;
  border-radius: 3.75px;
  box-sizing: border-box;
  color: #0048d2;
  display: inline-flex;
  font-family: "Gill Sans", serif;
  font-size: 10px;
  justify-content: center;
  line-height: 15px;
  padding: 3.75px 7.5px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  margin-left: 3px;
  margin-right: 3px;
}

.sign-custom-btn:hover {
  background-color: #fff;
  border: 1px solid #0048d2;
  color: #0048d2;
  text-decoration: underline;
}

.download-container {
  display: flex;
  justify-content: space-between; /* Space out the buttons */
  align-items: auto;
  margin-top: 10px;
  width: 100%;
}

.form-group label {
  margin-right: 20px;
}

.signature-options {
  margin-top: 10px;
}
