{% extends 'base.html' %} {% block content %}
<div class="row" style="height: 100%">
  <div class="col-lg-12" style="height: 100%">
    <div id="content" class="content-box col-md-11">
      <h1>QTSP Authentication</h1>
      <div class="genericErrors" id="genericErrorsDesc"></div>

      <h2>Successful Authentication</h2>

      {% if env_var == "dev" %}
      <div style="width: 100%; margin-top: 20px">
        <label style="font-weight: bold">Access Token:</label>
        <p id="accesstoken" style="word-wrap: break-word">
          {{access_token_value}}
        </p>
      </div>
      {% endif %}

      <a class="btn custom-btn" href="{{redirect_url}}/credentials_list"
        >Continue to CredentialsPage</a
      >
    </div>
  </div>
</div>
{% endblock %}
