{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>Credential Authorization</h1>
        <div id="content" class="content-wrap1 content-center col-md-11 col-sm-11">
            <div class="genericErrors" id="genericErrorsDesc"></div>
            <h2>Successful Authorization</h2>
            <label>Access Token:</label>
            <p id="accesstoken" style="word-wrap: break-word;">Placeholder for the access token</p>
            <button id="sign">Sign</button>
            <!--<p id="placeholder_documents_sign" style="word-wrap: break-word;" hidden="true">Placeholder for the signed document</p>-->
            <button id="download_button" hidden="true" onclick="downloadPDF()"><i class="fa fa-download"></i> Download</button>
        </div>
    </div>
</div>

<script>
    var document_signed_value;
    var document_content_type;
    var document_filename;

    document.getElementById('accesstoken').textContent = "{{access_token_value}}";
    document.getElementById('sign').addEventListener('click', function(){
        // document.getElementById("placeholder_documents_sign").hidden = false;
        fetch("{{redirect_url}}upload_document")
        .then(response => response.json()
                .then(data => {
                    // document.getElementById("placeholder_documents_sign").textContent = data["document_string"];
                    document_signed_value = data["document_string"];
                    document_content_type = data["content_type"];
                    document_filename = data["filename"];
                    document.getElementById("download_button").hidden = false;
                })
        );
    });

    function downloadPDF(pdf) {
        const linkSource = `data:${document_content_type};base64,${document_signed_value}`;
        const downloadLink = document.createElement("a");
        downloadLink.href = linkSource;
        downloadLink.download = document_filename;
        downloadLink.click();
    }
</script>
        
{% endblock %}