{% extends 'base.html' %} {% block content %}
<div class="row" style="height: 100%">
  <div class="col-lg-12" style="height: 100%">
    <div id="content" class="content-box col-md-11">
      <h1>Credential Authorization</h1>
      <div class="genericErrors" id="genericErrorsDesc"></div>
      <h3>Authorize credential usage to sign document</h3>

      <div id="container-redirect-wallet" class="btn custom-btn">
        <a id="link_to_wallet" href="{{location}}">Go to EUDI Wallet</a>
        <i class="fa fa-arrow-right" style="margin-left: 10px"></i>
      </div>

      {% if env_var == "dev" %}
      <div id="temp" style="width: 100%; margin-top: 20px">
        <p style="font-weight: bold">Link to EUDI Wallet:</p>
        <p id="result">{{location}}</p>

        <p id="description" style="font-weight: bold">
          After authorization the wallet will redirect to a link. Introduce link
          redirect to in the input box below.
        </p>
        <input
          type="text"
          id="authLink"
          placeholder="Enter your response here"
        />
        <button
          class="btn sign-custom-btn"
          style="margin-top: 0px"
          id="submitButton"
          onclick="submitButton()"
        >
          Submit Text
        </button>
        <a
          id="link_to_continue"
          class="btn sign-custom-btn"
          style="margin-top: 0px"
          >Continue</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  if ("{{env_var}}" === "dev") {
    document.getElementById("link_to_continue").hidden = true;
  }

  async function submitButton() {
    const userInput = document.getElementById("authLink").value;
    document.getElementById("link_to_continue").href = userInput;
    document.getElementById("link_to_continue").hidden = false;
  }
</script>
{% endblock %}
