{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>
            rQES (Wallet Centric)
        </h1>
        <div id="content" class="content-wrap1 content-center col-md-11 col-sm-11">
            <div class="genericErrors" id="genericErrorsDesc"></div>
            <p>Welcome to the remote Qualified Eletronic Signature component wallet-centric backend server.</p>
            <p>A Web GUI supporting the same-flow device for tests is available at: <a href="https://walletcentric.signer.eudiw.dev/tester">https://walletcentric.signer.eudiw.dev/tester</a> </p>
            
            <p>In this domain, it is made available the SCA Server and the QTSP Server composed by an Authorization Server and Resourse Server.</p>
        
            <p> SCA Server Endpoints:
                <ul>
                    <li>/credential/authorize</li>
                    <li>/signatures/signDoc</li>
                    <li>/credential/oauth/login/code</li>
                </ul>
            </p>

            <p> QTSP Server Endpoints:
                <ul>
                    <li>
                        Authorization Server
                        <ul>
                            <li>/oauth2/authorize</li>
                            <li>/oauth2/token</li>
                            <li>/oid4vp/callback</li>
                        </ul>
                    </li>
                    <li>Resource server
                        <ul>
                            <li>/csc/v2/info</li>
                            <li>/csc/v2/signatures/signHash</li>
                            <li>/csc/v2/credentials/list</li>
                            <li>/csc/v2/credentials/info</li>
                        </ul>
                    </li>
                </ul>
            </p>


        </div>
    </div>
</div>
{% endblock %}