{% extends 'base.html' %} {% block content %}
<div class="row" style="height: 100%">
  <div class="col-lg-12" style="height: 100%">
    <div id="content" class="content-box col-md-11">
      <div class="main-page-box">
        <h3>EUDI Wallet</h3>
        <h1>Welcome to the rQES Wallet Tester</h1>
        <p
          style="
            font-size: 15px;
            font-family: 'Gill Sans', serif;
            margin-bottom: 30px;
          "
        >
          This is a web application that allows users to test the
          functionalities of the EUDI Wallet rQES.
        </p>
        <div class="genericErrors" id="genericErrorsDesc"></div>
        <form action="{{ url_for('SCA.authentication') }}" method="GET">
          <!-- Submit button -->
          <button class="btn custom-btn" type="submit">Start</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
