{% extends 'base.html' %} {% block content %}
<div class="container-fluid h-100">
  <div class="content-box col-md-11 mx-auto text-center">
    <h2>EUDI Wallet</h2>
    <h1>Welcome to the rQES Wallet Tester</h1>
    <p style="font-size: 15px; margin-bottom: 30px">
      This is a web application that allows users to test the functionalities of
      the EUDI Wallet rQES.
    </p>
    <div class="genericErrors" id="genericErrorsDesc"></div>
    <form action="{{ url_for('tester.service_authentication') }}" method="GET">
      <button class="btn custom-btn" type="submit">Start</button>
    </form>
  </div>
</div>
{% endblock %}
