{% extends 'base.html' %} {% block content %}
<div class="container-fluid h-100">
  <div class="content-box col-md-11 mx-auto text-center">
    <div class="genericErrors" id="genericErrorsDesc"></div>

    <h1>Sign Documents</h1>

    {% for url, filename in docs_infos %}
      {% include 'single-doc-option.html' with context %}
    {% endfor %}

    <button class="btn custom-btn" onclick="onClick()">Continue</button>
  </div>
</div>

<script>
  let submittedForms = {}; // Track form submissions

  // Function to mark a form as submitted
  function markFormSubmitted(filename) {
    console.log(filename);
    submittedForms[filename] = true;
    console.log(`Form for ${filename} submitted`);
  }

  var docs = {{ docs_infos | tojson }};
  console.log(docs);

  function onClick(){
    let docs_size = docs.length;
    console.log(docs_size);
    let allForms = document.querySelectorAll("form");
    let totalForms = allForms.length;
    console.log(totalForms);
    let submittedCount = Object.keys(submittedForms).length;
    console.log(submittedCount);

    if (submittedCount === totalForms) {
      alert("All forms submitted! Proceeding...");
      window.location.href = "{{ url_for('tester.credential_authorization_page') }}";
    } else {
      alert(`You need to submit all forms before continuing! (${submittedCount}/${totalForms} submitted)`);
    }
  }
</script>

{% endblock %}
