{% extends 'base.html' %} {% block content %}
<div class="row" style="height: 100%">
  <div class="col-lg-12" style="height: 100%">
    <div id="content" class="content-box col-md-11">
      <h1>Document Signed</h1>

      <div class="genericErrors" id="genericErrorsDesc"></div>

      <!-- Preview the file -->
      <iframe
        id="viewer"
        frameborder="0"
        scrolling="auto"
        height="500px"
        width="100%"
        type="application/pdf"
      ></iframe>

      <div class="download-container">
        <button
          class="sign-custom-btn"
          id="download_button"
          onclick="downloadPDF()"
        >
          <!--<i class="fa fa-download"></i>-->
          Download
        </button>

        <a
          class="sign-custom-btn"
          href="{{ url_for('tester.service_authentication') }}"
          >Close</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  let document_signed_value = "{{ document_signed_value }}";
  let document_content_type = "{{ document_content_type }}";
  let document_filename = "{{ document_filename }}";

  function downloadPDF(pdf) {
    const linkSource = `data:${document_content_type};base64,${document_signed_value}`;
    const downloadLink = document.createElement("a");
    downloadLink.href = linkSource;
    downloadLink.download = document_filename;
    downloadLink.click();
  }

  function loadDocumentViewer() {
    // Create a Blob object from the byte array
    const linkSource = `data:${document_content_type};base64,${document_signed_value}`;
    document.getElementById("viewer").src = linkSource;
    document.getElementById("btncheck").disabled = false;
  }

  window.onload = loadDocumentViewer();
</script>

{% endblock %}
