<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Data Example</title>
</head>
<body>
    <h1>Follow link for credential authorization:</h1>
    <p id="result">Placeholder for the EUDI Wallet link</p>

    <!-- Container to hold the input box -->
    <div id="inputContainer">
        <p id="description">After authorization the wallet will redirect to a link. Introduce link redirect to in the input box below.</p>
        <input type="text" id="authLink" placeholder="Enter your response here">
        <button id="submitButton">Submit</button>
    </div>

    <p id="accesstoken">Placeholder for the access token</p>

    <button id="sign">Sign</button>

    <p id="placeholder_documents_sign">Placeholder for the signed document</p>

    <script>
        let cookie_status = "{{cookie}}";
        console.log(cookie_status);

        document.getElementById("result").textContent="{{location}}";

        document.getElementById('submitButton').addEventListener('click', function(){
            const userInput = document.getElementById('authLink').value;
            console.log(userInput);
            fetch('{{redirect_url}}service_authorization_link', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ link: userInput, cookie: cookie_status }),
            }) // Example endpoint for demonstration
            .then(response => response.json()) // Get the response as a string
            .then(data => {
                console.log(data);   
                document.getElementById('accesstoken').textContent = data["access_token"];
            }) 
            .catch(error => {
                console.error('Error:', error);
            });
        });

        document.getElementById('sign').addEventListener('click', function(){
            fetch("{{redirect_url}}upload_document")
            .then(response => {
                response.text().then(text => {
                    document.getElementById("placeholder_documents_sign").textContent = text;
                })
            });
        })
    </script>
</body>
</html>