<div class="select-document">
  <div class="select-document-column">
    <h2>Step 1: Confirm Document Received</h2>
    <iframe
      id="viewer"
      frameborder="0"
      scrolling="auto"
      height="500px"
      width="100%"
      src="{{ url }}"
      type="application/pdf"
      style="border: 1px solid #ccc; margin-top: 10px"
    ></iframe>
  </div>

  <div class="select-document-column">
    <div
      id="toast-{{ filename | replace('.', '-') | replace(' ', '-') }}"
      class="toast"
    >
      Form submitted successfully!
    </div>
    <form
      id="options-form-{{ filename | replace('.', '-') | replace(' ', '-') }}"
      method="post"
      action="{{ url_for('tester.credential_authorization') }}"
      onsubmit="return onSubmit(event)"
    >
      <h2>Step 2: Select Signature Options</h2>

      <!--Container-->
      <div class="col-md-12 signature-options">
        <p class="legend">Container:</p>
        <div class="form-group">
          <label class="radio-inline">
            <input
              type="radio"
              name="container"
              value="No"
              onchange="onChangeContainer(this.value, event)"
              checked
            />
            No
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              name="container"
              value="ASiC-S"
              onchange="onChangeContainer(this.value, event)"
            />
            ASiC-S
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              name="container"
              value="ASiC-E"
              onchange="onChangeContainer(this.value, event)"
            />
            ASiC-E
          </label>
        </div>
      </div>

      <!--Signature Format-->
      <div class="col-md-12 signature-options">
        <p class="legend">Signature Format:</p>
        <div class="form-group">
          <label class="radio-inline">
            <input
              type="radio"
              id="XAdES-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="signature_format"
              value="X"
              onchange="onChangeSignatureFormat(this.value, event)"
              required
            />
            XAdES
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              id="CAdES-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="signature_format"
              value="C"
              onchange="onChangeSignatureFormat(this.value, event)"
            />
            CAdES
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              id="PAdES-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="signature_format"
              value="P"
              onchange="onChangeSignatureFormat(this.value, event)"
            />
            PAdES
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              id="JAdES-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="signature_format"
              value="J"
              onchange="onChangeSignatureFormat(this.value, event)"
            />
            JAdES
          </label>
        </div>
      </div>

      <!--Packaging-->
      <div class="col-md-12 signature-options">
        <p class="legend">Packaging</p>
        <div class="form-group">
          <label class="radio-inline">
            <input
              type="radio"
              id="enveloped-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="packaging"
              value="ENVELOPED"
              required
            />
            Enveloped
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              id="enveloping-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="packaging"
              value="ENVELOPING"
            />
            Enveloping
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              id="detached-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="packaging"
              value="DETACHED"
            />
            Detached
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              id="internally-{{ filename | replace('.', '-') | replace(' ', '-') }}"
              name="packaging"
              value="INTERNALLY_DETACHED"
            />
            Internally detached
          </label>
        </div>
      </div>

      <!--Level-->
      <div class="col-md-12 signature-options">
        <p class="legend">Level:</p>
        <label
          ><input
            type="radio"
            name="level"
            value="Ades-B-B"
            checked
          />BASELINE-B</label
        >
        <label
          ><input type="radio" name="level" value="Ades-B-T" />BASELINE-T</label
        >
        <label
          ><input
            type="radio"
            name="level"
            value="Ades-B-LT"
          />BASELINE-LT</label
        >
        <label
          ><input
            type="radio"
            name="level"
            value="Ades-B-LTA"
          />BASELINE-LTA</label
        >
      </div>

      <!--Digest Algorithm-->
      <div class="col-md-12 signature-options">
        <p class="legend">Digest Algorith:</p>
        {% for algorithm in digest_algorithms %}
        <label class="radio-inline">
          <input
            type="radio"
            name="algorithm"
            value="{{ algorithm.oid }}"
            {%
            if
            loop.first
            %}checked{%
            endif
            %}
          />
          {{ algorithm.name }}
        </label>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">Confirm Options</button>
    </form>
  </div>
</div>

<script>
  function deselectPackaging(filename) {
    try {
      console.log("deselectPackaging...");
      if (document.getElementById("enveloped-" + filename).disabled === false)
        document.getElementById("enveloped-" + filename).checked = false;
      if (document.getElementById("enveloping-" + filename).disabled === false)
        document.getElementById("enveloping-" + filename).checked = false;
      if (document.getElementById("detached-" + filename).disabled === false)
        document.getElementById("detached-" + filename).checked = false;
      if (document.getElementById("internally-" + filename).disabled === false)
        document.getElementById("internally-" + filename).checked = false;
    } catch (err) {
      console.log(err);
    }
  }

  function deselectSignatureFormat(filename) {
    try {
      console.log("deselectSignatureFormat...");
      if (document.getElementById("XAdES-" + filename).disabled === false)
        document.getElementById("XAdES-" + filename).checked = false;
      if (document.getElementById("CAdES-" + filename).disabled === false)
        document.getElementById("CAdES-" + filename).checked = false;
      if (document.getElementById("PAdES-" + filename).disabled === false)
        document.getElementById("PAdES-" + filename).checked = false;
      if (document.getElementById("JAdES-" + filename).disabled === false)
        document.getElementById("JAdES-" + filename).checked = false;
    } catch (err) {
      console.log(err);
    }
  }

  function onChangeContainer(value, event) {
    let inputElement = event.target;
    let form = inputElement.closest("form");
    let filename = form.id.replace("options-form-", "");

    let xades = form.querySelector("input[name='signature_format'][value='X']");
    let cades = form.querySelector("input[name='signature_format'][value='C']");
    let pades = form.querySelector("input[name='signature_format'][value='P']");
    let jades = form.querySelector("input[name='signature_format'][value='J']");

    deselectPackaging(filename);
    console.log("Updating the signature format available...");

    [xades, cades, pades, jades].forEach((el) => (el.checked = false));

    if (value === "No") {
      [xades, cades, pades, jades].forEach((el) => (el.disabled = false));
    } else if (value === "ASiC-S" || value === "ASiC-E") {
      xades.disabled = false;
      cades.disabled = false;
      pades.disabled = true;
      jades.disabled = true;
    }
  }

  function onChangeSignatureFormat(value, event) {
    let inputElement = event.target;
    let form = inputElement.closest("form");
    let filename = form.id.replace("options-form-", "");

    deselectPackaging(filename);

    let enveloped = form.querySelector(
      "input[name='packaging'][value='ENVELOPED']"
    );
    let enveloping = form.querySelector(
      "input[name='packaging'][value='ENVELOPING']"
    );
    let detached = form.querySelector(
      "input[name='packaging'][value='DETACHED']"
    );
    let internally = form.querySelector(
      "input[name='packaging'][value='INTERNALLY_DETACHED']"
    );

    var container = form.querySelector("input[name='container']:checked");

    console.log("Updating the packaging available...");
    if (value === "X") {
      console.log("XAdES selected...");
      if (container.value === "ASiC-S" || container.value === "ASiC-E") {
        enveloped.disabled = true;
        enveloping.disabled = true;
        detached.disabled = false;
        internally.disabled = true;
      } else {
        enveloped.disabled = false;
        enveloping.disabled = false;
        detached.disabled = false;
        internally.disabled = false;
      }
    } else if (value === "C") {
      console.log("CAdES selected...");
      if (container.value === "ASiC-S" || container.value === "ASiC-E") {
        enveloped.disabled = true;
        enveloping.disabled = true;
        detached.disabled = false;
        internally.disabled = true;
      } else {
        enveloped.disabled = true;
        enveloping.disabled = false;
        detached.disabled = false;
        internally.disabled = true;
      }
    } else if (value === "P") {
      console.log("PAdES selected...");
      enveloped.disabled = false;
      enveloping.disabled = true;
      detached.disabled = true;
      internally.disabled = true;
    } else if (value === "J") {
      console.log("JAdES selected...");
      enveloped.disabled = true;
      enveloping.disabled = false;
      detached.disabled = false;
      internally.disabled = true;
    }
  }

  function onSubmit(event) {
    event.preventDefault();

    let form = event.target;
    let submitButton = form.querySelector("button[type='submit']");
    let filename = form.id.replace("options-form-", "");
    let formData = new FormData(form);

    fetch(form.action, {
      method: "POST",
      body: formData,
    })
      .then((response) => {
        submitButton.disabled = true;
        showToast("Form of document " + filename + " submitted successfully!");
        markFormSubmitted(filename);
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("Error submitting the form.");
      });
  }

  function showToast(message) {
    let toast = document.getElementById(
      "toast-{{ filename | replace('.', '-') | replace(' ', '-') }}"
    );
    toast.textContent = message;
    toast.classList.add("show");

    setTimeout(() => {
      toast.classList.add("hide");
      setTimeout(() => {
        toast.classList.remove("show", "hide");
      }, 500); // Wait for fade-out transition
    }, 3000);
  }
</script>
